/* インポート */
@import url(sanitize.css);

/* ------------- ヘッダー ------------- */

header{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: black;
    border: solid black;
}

header ul{
    width: 30%;
    height: 94px;
    margin:0 0 0 auto;
    display: flex;
    flex-direction:row-reverse;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

header ul li{
    margin:auto;
    list-style:none;
}

header a img{
    width:276px;
    height: 95.2px;
    border: solid black;
}

/* ------------- コンテンツ ------------- */

/*ハイパーリンク*/
a{
    color:white;
    text-decoration: none;
}

a:hover{
    color: aquamarine;
}

/*h1タグ*/
h1{
    font-size: 3.5em;
    text-align: center;
}

/*h2タグ*/
h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*自己紹介*/
.self-introduction{
    width: 60%;
    height: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(225, 225, 225);
}

.self-introduction img{
    margin-left: 50px;
    width: 200px;
    height: 270px;
}

.textbox{
    height: 200px;
    background-color: white;
}

.textbox h5{
    font-size: 1.1em;
    margin: 0;
    margin-top: 8px;
    margin-left: 8px;
}

/*グリッド*/
.grid{
    width: 55%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 320px;
}

.grid h2{
    margin-left: 10px;
}

.grid li{
    margin-bottom: 8px;
}

/*経歴*/
.grid_career{
    background-color: rgb(255, 179, 179);
}

.grid_career a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(17, 17, 17);
}

.grid_career a:hover{
    color: rgb(20, 225, 156);
}

/*資格*/
.grid_qualification{
    background-color: rgb(187, 249, 255);
}

/*スキル*/
.grid_skill{
    background-color: rgb(255, 248, 187);
}

/*趣味*/
.grid_hobby{
    background-color: rgb(194, 255, 187);
}

/* ------------- フッター ------------- */

footer{
    width: 100%;
    height: 180px;
    background-color: rgb(16, 16, 16);
    display: flex;
    align-items: center;
}

footer ul{
    margin-right: 60px;
}

footer li{
    margin-top: 5px;
    margin-bottom: 5px;
    list-style:none;
    color: azure;
    font-size: 1.2em;
    font-weight: bold;
}

/* ------------------------------------ */