/* インポート */
@import url(sanitize.css);

/* ------------- ヘッダー ------------- */
header{
    position: fixed; /* ヘッダーを固定する */
    top: 0; /* 上部から配置の基準位置を決める */
    left: 0; /* 左から配置の基準位置を決める */
    display: flex;
    width: 100%;
    height: 65px;
    background-color: black;
    border: solid black;
}

header ul{
    width: 60%;
    height: 65px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

header ul li{
    margin:auto;
    list-style:none;
}

/* ------------- メイン ------------- */

a{
    color:white;
    text-decoration: none;
}

a:hover{
    color: aquamarine;
}

h1{
    width: 100%;
    margin: 0;
    padding-top: 20px;
}

body {
    background-image: url("../img/others/BG.png");
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
    display: block;
}

.main a{
    color: rgb(26, 37, 255);
}

.main h1{
    margin-top: 100px;
    color: black;
    font-size: 50px;
}

h2{
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-left: 50px;
}

.container{
    margin: 0 auto;
    max-width: 1240px;
    background-color: #ffffff81;
}

.container h1{
    text-align: center;
}

/* ------------- プロフィール ------------- */

.profile{
    margin-left: -.75rem;
    margin-right: -.75rem;
    text-align: center
}

.profile h1{
    padding-top: 30px;
}

.contents{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    justify-content: center;
}

.contents img{
    max-width: 200px;
    max-height: 300px;
    padding-bottom: 50px;
}

.profile .text{
    display: block;
    align-items: center;
    text-align:left;
    font-size: 16px;
    padding-left: 100px;
    padding-bottom: 20px;
}

.text ul{
    padding-left: 0;
}

.text li{
    list-style-type: none;
}

p{
    padding-right: 10px;
    padding-bottom: 5px;
    margin: 0;
    text-align:right;
    color: blue;
}

/*グリッド*/
.grid{
    width: 780px;
    margin: 0 auto;
    margin-bottom: 25px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 320px;
    text-align:left;
}

.grid h2{
    padding-left: 15px;
}

/*経歴*/
.grid_career{
    background-color: #fcb6b64c;
}

.grid_career a{
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.grid_career a:hover{
    color: rgb(77, 49, 255);
}

/*趣味*/
.grid_hobby{
    background-color: rgba(201, 255, 195, 0.3);
}

/* ------------- スキル ------------- */

.skill{
    width: 800px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
}

.card{
    display: flex;
}

.card div{
    padding-left: 10px;
}

.card img{
    width: 80px;
    height: 80px;
}

.card .title{
    padding-left: 0;
    font-weight: bold;
}

/* ------------- ポートフォリオ ------------- */

.portfolio{
    margin-left: -.75rem;
    margin-right: -.75rem;
    text-align: center
}

.portfolio h2{
    margin-bottom: 15px;
    padding-left: 0;
}

.portfolio p{
    padding-right: 10px;
    padding-bottom: 5px;
    margin: 0;
    text-align:right;
    color: blue;
}

.column{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.ele{
    font-size: 0.7em;
    margin: 10px;
    font-weight: bold;
}

.ele img:hover{
    transform:scale(1.1,1.1);
  }

.ele img{
    width: 300px;
    height: 180px;
    max-width: 300px;
    max-height: 180px;
    border-radius: 25px;
    overflow:hidden;
}

/* ------------- コンタクト ------------- */

.contact{
    text-align: center;
}

.contact .content{
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

/* ------------- フッター ------------- */

footer{
    width: 100%;
    height: 180px;
    background-color: rgb(16, 16, 16);
    display: flex;
    align-items: center;
}

footer ul{
    margin-right: 60px;
}

footer li{
    margin-top: 5px;
    margin-bottom: 5px;
    list-style:none;
    color: azure;
    font-size: 1.2em;
    font-weight: bold;
}

@media (max-width:1215px){
    .slide{
        display: none;
    }

}

@media (max-width:1200px){
    .column{
        width: 100%;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .ele{
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .profile{
        margin: 0 auto;
    }

    .contents{
        text-align: center;
        display: block;
        font-size: 0.8em;
    }

    .text{
        margin: 0 auto;
        width: 380px;
    }
}

@media (max-width:600px){
    header ul{
        display: none;
    }

}

@media (max-width:400px){
    h1{
        padding-left: 10px;
    }

    .game img{
        width: 350px;
        height: 200px;
    }

    .contents img{
        max-width: 200px;
        max-height: 300px;
        padding-bottom: 35px;
    }
}